<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>

    {% block head_css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
        <p>Hello {{ user.username }}</p>
        <br>
        <a href="{% url 'logout' %}">Logout!</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    {% if user.is_superuser %}
        <a href="/admin/">Admin Panel</a>
    {% endif %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block footer_js %}{% endblock %}
</body>
</html>