{% extends 'base.html' %}
{% load static %}

{% block title %}Add Student{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit!</button>
    </form>
{% endblock %}