{% extends 'base.html' %}
{% load static %}

{% block title %}Students Page{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <a href="{% url 'add_student' %}">Add Student</a>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button>Search!</button>
    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Birth date</th>
            <th>Student ID</th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.full_name }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.birth_date|default_if_none:"Data is not present" }}</td>
                <td>{{ student.id_card }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
